@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

.heading-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-top: 100px;
  margin-bottom: 20px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.11);
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 400% 400%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Asap", "Roboto", Helvetica, sans-serif;
  background-color: #fdfdfe;
  background-image: linear-gradient(
      45deg,
      transparent 20%,
      rgb(140, 209, 246) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
    radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}

.page-title {
  font-family: "Asap", "Roboto", Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 600;
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/03/55/14/1000_F_503551426_zBepFeDt56OCRa5sdtPOdsbmg3CZFOOR.jpg");
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all ease-in-out 2s;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.page-title:hover {
  background-position: 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 150px;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.login-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #c82333;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .login-page {
    background-size: 200% 200%;
  }

  .page-title {
    font-size: 40px;
  }
}
